<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name="description"
    content="Take advantage of our generous special offers and enjoy our traditional Indian curry at a discounted price.">
  <meta name="keywords"
    content="prince of india, india, indian, special offers, takeout offers, buffet offers, food, indian food, takeout, dine in">
  <meta name="twitter:title" content="Prince of India, Burlington, Ontario | Special Offers">
  <meta name="twitter:description"
    content="Take advantage of our generous special offers and enjoy our traditional Indian curry at a discounted price.">
  <meta property="og:title" content="Prince of India, Burlington, Ontario | Special Offers">
  <meta property="og:url" content="https://princeofindia.restaurant/offers">
  <meta property="og:description"
    content="Take advantage of our generous special offers and enjoy our traditional Indian curry at a discounted price.">
  <title>Prince of India | Traditional Indian Cuisine | Special Offers</title>
  <%- include partials/head-meta.ejs %>
</head>

<body>
  <%- include partials/nav-bar.ejs %>
  <%- include partials/header.ejs %>
  <main id="main">
    <div class="section-heading">
      <h3>Special <span class="txt-orange">Offers</span></h3>
      <p>Have a look at our current special offers and sign-up to our mailing list. Members of our mailing list
        receive exclusive discounts which are not listed publicly.</p>
    </div>
    <section id="offers">
      <div class="slide-row">
        <div class="slide-block slidable">
          <div class="image" style="background-image: url('<%- require('../../assets/img/indian-buffet-service.jpg') %>');"></div>
          <div class="text">
            <h4>Lunch Buffet</h4>
            <p>
              <strong>
                Mon to Sat: 11:30 am to 14:30 pm
              </strong>
            </p>
            <p>
              <strong>
                Sundays/Holidays: 12:00pm to 3:00pm
              </strong>
            </p>
            <p>
              Everyday we host an all you can eat lunch buffet for only $12.99 per person.
            </p>
            <p>
              Within our buffet you can expect to find a generous variety of our traditional curies, fresh salad, rice,
              dips and a type of traditional Indian bread.
            </p>
            <a href="./booking" class="button">
              <strong>
                Reservations
              </strong>
            </a>
            <a href="./menu" class="button">
              <strong>
                Menu
              </strong>
            </a>
          </div>
        </div>
        <div class="slide-block slidable">
          <div class="image" style="background-image: url('<%- require('../../assets/img/takeout-offer.jpg') %>');"></div>
          <div class="text">
            <h4>Takeout Offer</h3>
            <p>
              <strong>
                10% Off Takeout Orders!
              </strong>
            </p>
            <p>
              We are currently offering a generous discount of 10% on takeout orders.
            </p>
            <p>
              In order to take advantage of this discount you simply need to give us a call and then collect your food
              from our restaurant.
            </p>
            <p>
              Please note that this discount does not apply to drinks.
            </p>
            <a href="tel:905-333-1331" class="button">
              <strong>
                Call Us
              </strong>
            </a>
            <a href="./menu" class="button">
              <strong>
                Menu
              </strong>
            </a>
          </div>
        </div>
        <div class="slide-block slidable">
          <div class="image" style="background-image: url('<%- require('../../assets/img/curry-and-rice.jpg') %>');"></div>
          <div class="text">
            <h4>Evening Takeout Offer</h4>
            <p>
              <strong>
                15% Off Takeout Orders Between 3pm and 6pm!
              </strong>
            </p>
            <p>
              We are currently offering a generous discount of 15% on takeout orders placed between 3pm and 6pm.
            </p>
            <p>
              In order to take advantage of this discount you simply need to give us a call and then collect your food
              from our restaurant.
            </p>
            <p>
              Please note that this discount does not apply to drinks.
            </p>
            <a href="tel:905-333-1331" class="button">
              <strong>
                Call Us
              </strong>
            </a>
            <a href="./menu" class="button">
              <strong>
                Menu
              </strong>
            </a>
          </div>
        </div>
      </div>
    </section>
  </main>
  <%- include partials/footer.ejs %>
</body>

</html>